<table class="table table-bordered">
    <thead>
        <tr>
            <th>No.</th>
            <th>Book Name</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="{{receivedBooks.length == 0 ? '' : 'd-none'}}">
            <td colspan="4">Nothing data to shown</td>
        </tr>
        <tr class="{{receivedBooks.length == 0 ? 'd-none' : ''}}" *ngFor="let book of receivedBooks; let i = index">
            <td align="center">{{i+1}}</td>
            <td>{{book.bookName}}</td>
            <td>{{book.bookCategory}}</td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="onDeleteBook(i)">Delete</button>
            </td>
        </tr>
    </tbody>
    
</table>