<div class="container mt-3" style="max-width: 720px;">
	<div class="card">
		<div class="card-header">Form Server</div>
		<div class="card-body">
			<app-cockpit (serverCreated)="onServerReceived($event)" (bpCreated)="onBlueprintReceived($event)"></app-cockpit>
		</div>
	</div>

	<app-server-element [srvElement]="serverElement" *ngFor="let server of serverElement">
		<div class="card mt-3">
			<div class="card-header text-white" [ngClass]="server.type == 'server' ? 'text-bg-success' : 'text-bg-primary'">{{server.name}}</div>
			<div class="card-body">{{server.content}}</div>
		</div>
	</app-server-element>
</div> 